*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-body {
  background-color: #e2cfb6;
  width: 300px;
  margin: 50px auto;
}

.h1-main {
  font-size: 32px;
  font-weight: 400;
  color: #f94a72;
  margin-bottom: 50px;
}
.ol-main li {
  margin-bottom: 20px;
  text-align: center;
}
.ol-main li a {
  font: 1em sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #133e30;
  transition: color 0.4s ease;
}
.ol-main li a:hover {
  color: #2020aa;
  text-decoration: underline;
}

/* for the friedrice file */
.body {
  width: 400px;
  margin: 20px auto;
  background-color: #e2cfb6;
}

.p-recipe,
li {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.div-recipe {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.div-recipe a {
  text-decoration: none;
  font-size: 20px;
  color: #0b0b0b;
}

.h1-recipe,
.h2-Description,
.h3-ingredients,
.h3-steps {
  color: #f94a72;
}

.h1-recipe {
  margin: 20px 0px;
}

img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.h2-Description {
  margin: 20px 0px;
}

.p-recipe {
  margin-bottom: 20px;
}

.h3-ingredients {
  margin-bottom: 20px;
}

.h3-steps {
  margin: 20px 0px;
}
